npm-debug.log
yarn-debug.log*
yarn-error.log*
node_modules
package-lock.json
dist/

# test coverage outs
.nyc_output/
coverage/

# IDEs
.idea
.vscode
.sublime-project

# VIM
*.swp
*.swo

temp
.tmp
.DS_Store
